@using PastryTracker.Models;

<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Order @Model.ID</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link href="~/css/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="container">
      <h2 class="VendorName">@Model.VendorName</h2>
      <p>Order: <span class="id">#@Model.ID</span></p>
      <p>Date: <span class="date">@Model.Date.ToString("d")</span></p>
      <p class="OrderDescription">Description: @Model.Description</p>
      <p>Delivery Status: 
      @if(Model.Fulfilled == false)
      {
        <span class="badge status orange">Not Fulfilled</span>
      }
      else
      {
        <span class="badge status green">Fulfilled</span>
      }
      </p>
      <p>Payment Status: 
      @if(Model.PaymentReceived == false)
      {
        <span class="badge payment orange">Awaiting Payment</span>
      }
      else
      {
        <span class="badge payment green">Paid</span>
      }
      </p>
      <p>Cost: <span>$@Model.Cost</span></p>

      <a class="btn btn-success" href="/orders/@Model.ID/edit">Edit this Order</a>        
      <a class="btn btn-success" href="/vendors">Back to Vendors</a>
  </body>
</html>