@using PastryTracker.Models;

@{
  Layout = "_Layout";
}

<div class="form-div">
<div class="holder">
  <h2 class="VendorName">@Model.VendorName</h2>
  <p><label>Order:</label> <span class="id">#@Model.ID</span></p>
  <p><label>Date:</label> <span class="date">@Model.Date.ToString("d")</span></p>
  <p><label>Description:</label> <span class="OrderDescription">@Model.Description<span></p>
  <p><label>Delivery Status:</label> 
  @if(Model.Fulfilled == false)
  {
    <span class="badge status orange">Not Fulfilled</span>
  }
  else
  {
    <span class="badge status green">Fulfilled</span>
  }
  </p>
  <p><label>Payment Status:</label> 
  @if(Model.PaymentReceived == false)
  {
    <span class="badge payment orange">Awaiting Payment</span>
  }
  else
  {
    <span class="badge payment green">Paid</span>
  }
  </p>
  <p><label>Cost:</label> <span>$@Model.Cost</span></p>

  <a class="btn btn-success" href="/vendors/@Model.VendorID/orders/@Model.ID/edit">Edit this Order</a>        
  <a class="btn btn-success" href="/vendors/@Model.VendorID">Back to Vendor</a>
</div>
</div>