@using PastryTracker.Models;

@{
  Layout = "_Layout";
}

<div class="container">
  <h2>Vendor List</h2>
  <ul>
  @foreach (Vendor vendor in Model)
  {
    <li id="@vendor.ID">
      <a href="vendors/@vendor.ID"> @vendor.Name </a>
    </li>
  }
  </ul>
  <a class="btn btn-success" href="/vendors/new">Add Vendor</a>
</div>