@{
  Layout = "_Layout";
}

<div class="container">
  <h2>New Vendor</h2>
  <form action="/vendors" method="post">
  <label for="name">Vendor Name</label>
  <input id="name" name="name" type="text">
  <br>
  <label for="description">Description</label>
  <input id="description" name="description" type="text">
  <br>
  <button class="btn" type="submit">Add Vendor</button>
  </form>
</div>