@using PastryTracker.Models;

@{
  Layout = "_Layout";
}

<div class="form-div">
<div class="holder">
  <h2 class="VendorName">@Model.Name</h2>
  <p class="VendorDescription">@Model.Description</p>
    @if (Model.VendorOrders.Count > 0)
    {
      <p>Orders:</p>
      <ul>
        @foreach (Order order in Model.VendorOrders)
        {
          <li id="@order.ID">
            <div class="order-list">
              @if(order.Fulfilled == false)
              {
                <span class="badge status orange">Not Fulfilled</span>
              }
              else
              {
                <span class="badge status green">Fulfilled</span>
              }
              @if(order.PaymentReceived == false)
              {
                <span class="badge payment orange">Awaiting Payment</span>
              }
              else
              {
                <span class="badge payment green">Paid</span>
              }
              <br>
              <a href="/vendors/@Model.ID/order/@order.ID">
                <span class="id">#@order.ID</span>
              </a>
              <span class="date">@order.Date.ToString("d")</span>
              <span>$@order.Cost</span>
            </div>
          </li>
          <br>
        }
      </ul>
    }
  <a class="btn btn-success" href="/vendors/@Model.ID/orders/new">Add an order</a>        
  <a class="btn btn-success" href="/vendors">Back to Vendors</a>
</div>
</div>