<div id="navbar">
  
    <a class="nav-partial" href="/">Pierre's Pastries</p>  
    <a class="nav-partial" href="/vendors">Vendors</a>

    <a class="nav-partial" href="#">Orders to be Delivered</a>
    <a class="nav-partial" href="#">Unpaid Orders</a>

</div>